<link rel="stylesheet" href="/styles/main.css">

<header>
  <!-- Fixed Navigation Bar -->
  <div class="top-navbar-fixed">
    <nav class="top-nav">
      <div class="nav-wrapper nav-color">
        <div class="container">
          <a href="index.html" class="brand-logo left">TravelSpiria</a>
          <ul class="right hide-on-med-and-down">
            
            <li><a href="destination-1.html">Destinations1</a></li>
            <li><a href="destination-2.html">Destinations2</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="index.html">About us</a></li>
            <li><a href="contact.html">Contact</a></li>
            
            <li>
              <a class="search-trigger waves-effect waves-light" href="#!">
                <i class="material-icons">search</i>
              </a>
            </li>
          </ul>

          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Right Side Navigation -->
  <ul class="sidenav right-aligned" id="mobile-demo">
    <!-- Search Bar -->
    <li>
      <div class="search-container">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" placeholder="Search..." required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons close">close</i>
            </div>
          </form>
        </div>
      </div>
    </li>
    
    <li><div class="divider"></div></li>
    
    <!-- Navigation Links -->
    <li><a href="index.html" class="waves-effect"><i class="material-icons">info</i>About us</a></li>
    <li><a href="shop.html" class="waves-effect"><i class="material-icons">shopping_bag</i>Shop</a></li>
    <li><a href="destination-1.html" class="waves-effect"><i class="material-icons">collections</i>Destination1</a></li>
    <li><a href="destination-2.html" class="waves-effect"><i class="material-icons">collections</i>Destination2</a></li>

    <li><a href="contact.html" class="waves-effect"><i class="material-icons">email</i>Contact</a></li>
    
    <li><div class="divider"></div></li>
    
    <li><a href="#!" class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">help</i>Help</a></li>
  </ul>
</header>
<script src="/scripts/shop.js"></script>
<script src="/scripts/main.js"></script>