.category-title {
    margin-left: 15px;
    font-weight: 500;
}

.item-card {
    width: 160px;
    margin: 0 20px;
}

.item-card .card-image {
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}

.item-card .card-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.price {
    font-weight: bold;
    color: #657A42;
}

.add-to-cart {
    width: 100%;
    margin-top: 10px;
}

.cart-badge {
    position: relative;
    top: -47px;
    left: 17px
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.badge {
    margin-left: 0px !important;
    min-width: 0px !important;
    font-size: 0.9rem !important;
    padding: 0 4px !important;

}

.cart-item-image img {
    max-width: 100%;
    max-height: 100%;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-price {
    font-weight: bold;
    color: #657A42;
}

.cart-quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cart-quantity input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.remove-item {
    cursor: pointer;
    color: #999;
}

.cart-total {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.increase-quantity {
    cursor: pointer;
}

.decrease-quantity {
    cursor: pointer;
}

.bottom-footer{
    background-color: black;
    margin:0;
    padding: 0;
}